.mainHeading{
text-align: center;

}

.question{
  text-align: center;
  font-size: 20px;
  color: #ff4848;
}
.answer{
    text-align: center;
margin-top: 15px;
}
.options{
  margin-left: 10px;
  margin-right: 10px;
}
.mainBox{
  margin: auto;
  padding: 5px;
  box-shadow: 0 0 px #636060 ;
  border-radius: 20px;
  margin-top: 10%;
 width: fit-content;
 height: 200px;
  border:  1px solid #636060;
  background-color: #84eb0f;
}

.result{
  background-color: #84eb0f;
  margin: auto;
  padding: 25px;
  box-shadow: 0 0 5px #636060 ;
  border-radius: 20px;
  margin-top: 10%;
 width: fit-content;
  border:  1px solid #636060;
}
